<a href="https://colab.research.google.com/github/rishabh1911007/ML-Study-Jam/blob/main/ML_Study_Jam_Submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [8]:
from sklearn.model_selection import train_test_split

In [3]:
data= pd.read_csv('/content/drive/MyDrive/ML Study Jam Colab Notebooks/ML_study_jam.csv')     # Task 1 (a)

In [4]:
data

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [5]:
data.shape      # Task 1 (b)

(590, 5)

In [7]:
data.describe()       # Task 1 (b)

,Store ID,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales
count,588.000000,587.000000,579.000000,581.000000,582.000000
mean,295.369048,1482.250426,1775.050086,785.807229,58223.865979
std,170.735362,280.558792,336.940338,273.503711,17073.973067
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,147.750000,1312.000000,1571.000000,600.000000,45597.500000
50%,294.500000,1480.000000,1770.000000,770.000000,56960.000000
75%,443.250000,1670.500000,1999.500000,980.000000,70437.500000
max,590.000000,2229.000000,2667.000000,1530.000000,102920.000000

In [11]:
new_data=data.dropna()      
print(new_data)

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[563 rows x 5 columns]

In [13]:
x=data["Store_Sales"].mean()
print(x)

58223.865979381444

In [14]:
data["Store_Sales"].fillna(x, inplace=True)      # Task 2 (b)

In [15]:
data=data.dropna()        # Task 2 (a)
print(data)

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[568 rows x 5 columns]

In [ ]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2)

In [18]:
X=data['Store_Sales']     # Task 1 (e)
X.head(10)

0    66490.0
1    39820.0
2    54010.0
3    53730.0
4    46620.0
5    45260.0
6    72240.0
7    37720.0
8    46310.0
9    44150.0
Name: Store_Sales, dtype: float64

In [19]:
Y=data['Daily_Customer_Count']      # Task 1 (e)
Y.head(10)

0     530.0
1     210.0
2     720.0
3     620.0
4     450.0
5     760.0
6    1030.0
7    1020.0
8     680.0
9    1130.0
Name: Daily_Customer_Count, dtype: float64

In [20]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2)      # Task 1 (c)

In [22]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(454,)
(114,)
(454,)
(114,)

In [24]:
print("Thank you all for sharing your amazing knowledge with me")

Thank you all for sharing your amazing knowledge with me

In [25]:
print("Rishabh Jaiswal")

Rishabh Jaiswal